---
import LikeButton from "../React/LikeButton.tsx";
---

<footer class="w-full py-12 border-t border-[#ffffff10]">
	<div class="max-w-5xl mx-auto">
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-10 items-center">
			<div class="flex flex-col lg:items-start items-center space-y-6 gap-9">
				<div class="flex space-x-6 sm:space-x-8">
					{
						[
							{
								href: "https://mail.google.com/mail/?view=cm&fs=1&to=dmsoftwaresas@gmail.com&su=¡Hola%20Diego!",
								icon: '<i class="fa-solid fa-envelope"></i>',
								label: "Email",
							},
							{
								href: "https://api.whatsapp.com/send/?phone=573138950603&text&type=phone_number&app_absent=0",
								icon: '<i class="fa-brands fa-whatsapp"></i>',
								label: "WhatsApp",
							},
							{
								href: "https://www.linkedin.com/in/diego-monroy/",
								icon: '<i class="fa-brands fa-linkedin"></i>',
								label: "LinkedIn",
							},
							{
								href: "https://www.github.com/diegomonroy/",
								icon: '<i class="fa-brands fa-github"></i>',
								label: "GitHub",
							},
						].map(( link ) => (
							<a
								href={link.href}
								target="_blank"
								class="flex flex-col items-center group"
								aria-label={link.label}
							>
								<div class="text-[var(--white-icon)] hover:text-[var(--white)] transition duration-300 ease-in-out">
									<div set:html={link.icon} />
								</div>
							</a>
						))
					}
				</div>
				<!--<LikeButton client:load />-->
			</div>
			<div class="flex flex-col items-center space-y-6">
				<div class="grid grid-cols-1 gap-3 w-full max-w-xs">
					{
						[
							{
								desc: "Built with",
								name: "Astro",
								icon: "/svg/astro.svg",
								alt: "Astro Logo",
							},
							{
								desc: "Styled with",
								name: "TailwindCSS",
								icon: "/svg/tailwindcss.svg",
								alt: "TailwindCSS Logo",
							},
							{
								desc: "Deployed on",
								name: "Netlify",
								icon: "/svg/Netlify.svg",
								alt: "Netlify Logo",
							},
						].map(( tech ) => (
							<div class="flex items-center justify-center lg:justify-normal space-x-3">
								<span class="text-[var(--white-icon)] text-sm">
									{tech.desc}
								</span>
								<img
									src={tech.icon}
									alt={tech.alt}
									class="h-5 w-5 object-contain filter brightness-0 invert opacity-50"
									loading="lazy"
								/>
								<span class="text-[var(--white-icon)] text-sm">
									{tech.name}
								</span>
							</div>
						))
					}
					<div class="flex items-center justify-center lg:justify-normal space-x-3">
						<span class="text-[var(--white-icon)] text-sm">
							Template by
						</span>
						<img
							src="/svg/astro.svg"
							alt="Astro Logo"
							class="h-5 w-5 object-contain filter brightness-0 invert opacity-50"
							loading="lazy"
						/>
						<span class="text-[var(--white-icon)] text-sm">
							<a href="https://astro.build/themes/details/dark-minimal/" target="_blank">Andres Hernandez</a>
						</span>
					</div>
				</div>
			</div>
			<div class="flex flex-col items-center lg:items-start space-y-6">
				<div class="w-full max-w-xs">
					<iframe
						data-testid="embed-iframe"
						style="border:0; border-radius:12px;"
						src="https://open.spotify.com/embed/playlist/37i9dQZF1Epf5pbYRCN0Ya?utm_source=generator&theme=0"
						width="100%"
						height="152"
						allowfullscreen=""
						allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
						loading="lazy"></iframe>
				</div>
			</div>
		</div>
		<div class="mt-12 pt-8 border-t border-[#ffffff10]">
			<p class="text-center text-sm text-[var(--white-icon)] space-y-2">
				<span class="block sm:inline">
					© 2026 Diego Monroy. Todos los derechos reservados.
				</span>
			</p>
		</div>
	</div>
</footer>
